.about-container {
  padding: 20px;
  background-color: #1c1a3f;
  color: white;
  font-family: "Arial", sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #fbc02d;
}

h2 {
    
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffeb3b;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

strong {
  color: #ffeb3b;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

p,
li {
  line-height: 1.6;
}
